diagrams/Bridge-backups
diagrams/Logger/Logger-backups
diagrams/Logger/Logo-backups
diagrams/Logo-backups
diagrams/PowerCable/PowerCable-backups
fp-info-cache
*-backups
.DS_Store
*.blend1
*.bkp
Models/WIP/motorHolder.stl
